* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    line-height: 1.6;
    --body-colour: black;
    --background-colour: teal;
    --text-colour: turquoise;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: var(--body-colour);
    color: var(--text-colour);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--background-colour);
}

nav ul {}

nav li {
    display: inline;
    list-style-type: none;
    margin: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.75rem;
}

#welcome-section {
    height: 100vh;
    margin-top: 125px;
    padding: 25px;
}

h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

h1::after {
    content: ". .";
    position: relative;
    top: 12px;
    left: -264.5px;
}

h2 {
    font-size: 3rem;
}

#projects {
    display: flex;
    flex-direction: column;
    height: 500px;
}

#projects-container {
    display: flex;
    
}

.project-tile {
    height: 150px;
    width: 150px;
    margin: 10px;
    text-align: end;
}

.project-tile div {
    width: 200px;
    height: 200px;
}

h3 {}

a {
    color: var(--text-colour);
    text-decoration: none;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 100px;
}