* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    line-height: 1.6;
    --body-colour: black;
    --background-colour: teal;
    --text-colour: turquoise;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: var(--body-colour);
    color: var(--text-colour);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background: var(--background-colour);
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    font-size: 1.75rem;
    color: white;
}

#welcome-section {
    height: 100vh;
    margin-top: 125px;
    padding: 25px;
}

h1 {
    font-size: 6rem;
    margin-bottom: 10px;
}

h1::after {
    content: ". .";
    position: relative;
    top: 12.5px;
    left: -317.5px;
}

div>h2 {
    font-size: 4rem;
    margin-left: 40px;
}

div>p {
    font-size: 2rem;
    margin-left: 40px;
}

hr {
    margin: 5px 0;
}

#projects {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section>h2 {
    font-size: 4rem;
    text-align: center;
    margin: 10px auto;
}

section>p {
    font-size: 2rem;
}

#projects-container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.project-tile {
    height: 300px;
    width: 300px;
    margin: 20px;
    text-align: center;
    cursor: not-allowed;
}

h3 {
    font-size: 3rem;
}

a {
    color: var(--text-colour);
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

#contact {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#connect {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-link {
    padding: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
}

footer>div {
    float: right;
    margin: 5px;
}

footer a {
    padding: 5px;
    font-size: 1.5rem;
}